<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Welcome to the Template Bestiary!</title>
  <style type="text/css">
  html { height:100% }
body { height:100%; width:100%; margin:0; display:table;}
.header_bar { display:table-row; }
.iframe_container { height:100%; display:table-cell; }
iframe { height:100%; width:100%; display:block; }
  </style>
</head>
<body style="margin:0px;padding:0px;overflow:hidden" height="100%">

<div class="iframe_container">
        <iframe id="main_iframe" class="main_iframe"
src="./apps/template/" frameborder="0"></iframe>
</div>
</body>
</html>
